
/* Default styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ccc;
    max-width: 60%;
    margin: 0 auto;
}

/* Stylings for whole site */
ul {
    list-style: none;
    padding-top: 8px;
}

a {
    text-decoration: none;
    color: white;
}

/* styling for navbar */
.nav-logo {
    background-color: rgb(30, 124, 30);
    padding: 20px;
}
.navbar {
    background-color: #ffffff60;
}
.nav-item {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;  
    padding-top: 50px;
    padding-bottom: 10px;
}
.navlink {
    color: green;
}

/* styling hero-container */
.hero-container {
    margin:10px;
    padding-left: 250px;
}
.hero-flex {
    display: flex;
    /* justify-items: center; */
    flex-wrap: wrap;
}
.hero-container p{
    padding: 5px;
    margin-bottom: 10px;
}
.hero-para1 a {
    color: green;
    padding: 5px;
}
.hero-para2 a {
    color: red;
}
.hero-text {
    background-color: red;
    color: white;
    padding: 8px;
    font-size: 20px;
    margin-top: 60px;
    margin-right: 320px;
    margin-left: 40px;
}

.hero-container a {
    font-weight: 500;
    font-size: 15px;
}

/* styling for music-list */
.music-container {
    background-color: white;
    padding: 20px;
}
.music-list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    padding: 10px 2px;
}
.music-list p {
    margin-top: 20px;
}
.music-list p a {
    color: black;
    font-weight: bold;
}

/* footer styling */
footer {
    margin: 0 auto;
    background-color: rgb(7, 2, 2);
    padding: 20px;
    color: white;
}

.footer-logo {
    display: flex;
    justify-self: center;
    flex-wrap: wrap;
}

.footer-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

.footer-container h3 {
    color: green;
}

.item-2 {
    margin-right: 250px;
}

.category {
    margin-bottom: 10px;
}

.cat-list, .info-list {
    margin-top: 10px;
}

.copyright {
    justify-items: center;
}
.copyright p {
    padding: 5px;
}
